# -------------------------------------------------------------------
# General Python and VS Code Exclusions
# -------------------------------------------------------------------

# Virtual Environments
.venv/
venv/
env/

# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyd
*.so

# Jupyter Notebook Checkpoints
.ipynb_checkpoints

# VS Code directory (Local project settings)
.vscode/

# Project-specific files you manually added
data_in_2024.csv
bdegouw/
salaries_new.csv
# Ignore data folder to keep large files out of Git
Data/











/.quarto/
**/*.quarto_ipynb
